@import "./_variable.scss";

@font-face {
  font-family: "cairoFont";
  src: url(../fonts/Cairo-Regular.ttf);
}

body {
  font-family: "cairoFont",
    "Cambria, Cochin, Georgia, Times, Times New Roman, serif" !important;
  direction: ltr !important;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
  overflow-x: hidden;
}

.navbar {
  font-weight: bold;
  height: 66px;

  .navbar-nav {
    li > a {
      transition-duration: 0.5s;
      color: #000;

      &:hover {
        color: $main-color !important;
        border-bottom: 1px solid $main-color;
      }
    }

    .active a {
      color: $main-color !important;
      border-bottom: 1px solid $main-color;
    }
  }
}

.carousel-top {
  .row {
    display: block !important;
  }

  .carousel {
    .carousel-item {
      img {
        height: 575px;
      }

      .overlay {
        position: absolute;
        /*background-color: rgba(65,155,155,0.5);*/
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: flex !important;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
      }
    }

    .carousel-caption {
      h1 {
        font-weight: bold;
        color: $main-color;
        margin-bottom: 50px;
      }

      h4 {
        width: 60%;
        color: $custom-color;
      }
    }
  }
}

.custom-btn {
  padding: 10px 20px;
  color: #ffffff !important;
  border: 1px solid #ddd0d0 !important;
  font-weight: bold !important;

  &:hover,
  &:focus {
    color: red !important;
    border: none !important;
  }
}

@media (max-width: 991px) {
  .navbar {
    padding: 0px 20px !important;

    .navbar-nav {
      a {
        border-bottom: none !important;
        padding-right: 5px;
      }
    }
  }
}

@media (max-width: 767px) {
  .carousel-top {
    .carousel {
      .carousel-caption {
        h1 {
          font-size: 30px;
        }

        h4 {
          font-size: 20px;
        }
      }
    }
  }
  iframe {
    width: 200px;
  }
}
.nav-link-edit {
  a {
    &:hover {
      color: #fff;
      background-color: #a600ff;
      height: 100%;
      width: 100%;
      text-align: center;
      border-radius: 100%;
    }
  }
}

.card-block {
  height: 115px;
}

section.contacts {
  background-color: #ffffff;
  padding-top: 100px;
  text-align: right;
}

section.contacts .info h3 {
  font-size: 24px;
  line-height: 50px;
  color: #181c1c;
  font-weight: bold;
}

section.contacts .form form button {
  background-color: #ff0000;
  font-family: ar-font;
  font-size: 15px;
  color: #ffffff;
  line-height: 25px;
  padding: 10px 25px;
  border-radius: 3px;
  border: 0;
  margin-left: 86%;
  margin-top: 10px;
}

section.contacts .cmxform {
  width: 60%;
  margin: 0 auto 50px;
}

section.contacts .form form .error {
  color: red;
}
section.contacts {
  background-image: url("../images/pexels-negativespace-33999.jpg");
  background-size: contain;
  background-size: cover;
}

.navbar ul li a.facebook {
  color: rgb(13, 56, 210);
  :hover {
    width: 30px;
    height: 30px;
  }
}

.navbar ul li a.instagram {
  color: #b43a93;
  :hover {
    width: 30px;
    height: 30px;
    background: #f09433;
    background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
}

.navbar ul li a.tiktok {
  color: #000000;
  :hover {
    width: 30px;
    height: 30px;
    color: white;
    background: #000;
  }
}

.navbar ul li a.x {
  color: #000000;
  :hover {
    width: 30px;
    height: 30px;
    color: white;
    background: #000;
  }
}

.icon {
  color: red;
}
